# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ipynb_checkpoints/
build/
dist/

# Virtual envs
.venv/
venv/
env/

# OS / editor
.DS_Store
.vscode/
.idea/

# Early practice / scratch files
test.ipynb
test.py
try.ipynb
